body,
h1,
h2,
h3,
h4,
p,
hr {
    margin: 0px;
    padding: 0;
}

/* navbar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: inline-flex;
    list-style-type: none;

}

.nav__item {
    margin-left: 40px;
}

.nav__item a {
    background-color: transparent;
}

.nav__item a:hover {
    color: #51ADCF;
}

.nav__link {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav__signin__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 40px;
}

.nav__signin__btn {
    padding: 12px 15px;
    border: none;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(81, 173, 207, 1) 0%, rgba(62, 105, 194, 1) 100%);
    cursor: pointer;
}

.nav__signin__btn::before {
    content: "";
    position: absolute;
    left: 1.5px;
    right: 1.5px;
    top: 1.5px;
    bottom: 1.5px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
}

.nav__signin__btn::after {
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    color: transparent;
    transition: 200ms
}

.nav__signin__btn:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.nav__signin__btn:hover::after {
    color: white;
}

.nav__toggler {
    margin-left: 30px;
    border: none;
    background-color: transparent;
}

/* page elements */

h2 {
    color: rgba(62, 105, 194);
    padding: 1em 0;
}

h3 {
    padding-left: 1em;
}

hr {
    border: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(100, 174, 245, 0.1), rgba(62, 105, 194, 0.75), rgb(100, 174, 245, 0.1));
}

.workout__cards {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    margin-left: 1.5em;
}

.workout__card {
    max-width: 40rem;
}

.workout__card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.workout__card__img {
    padding: 1em 0 1em;
    border-radius: 50%;
    max-height: 176px;
    max-width: 206px;
}

.workout__card__img__container {
    display: flex;
    align-items: center;
}

.youtube__btn {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #ff0000bf;
    opacity: 80%;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.youtube__btn:hover {
    background: #ffffff;
    text-decoration: none;
    color: #ff0000;
}


/* footer elements */
.footer__links {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.footer_socials a {
    padding-right: 10px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.footer ul li {
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    cursor: grab;
}

.vertical {
    margin-left: 30px;
    border-left: 1px solid black;
    height: 50px;
}

.footer_credits {
    text-align: center;
}