
/************************************* FOOTER ************************************/
.footer_socials a{
    padding-right: 10px;
}

.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.footer__links {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.footer__link {
    color: #000;
    text-decoration: none;
}

.footer ul li{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: grab;
}

.vertical {
    margin-left: 30px;
    border-left: 1px solid black;
    height: 50px;
}

.footer_credits{
    display: flex;
    justify-content: center;
}