body,
h1,
h2,
h3,
h4,
p {
    margin: 0px;
    padding: 0;
}

/***************************** NAV BAR *****************************/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.nav__toggler {
    cursor: pointer;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: inline-flex;
    list-style-type: none;

}

.nav__item {
    margin-left: 40px;
}

.nav__link {
    text-decoration: none;
}

.nav__item a:hover {
    color: #51ADCF;
}

.nav__link {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}

.btn__outlined__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 40px;
}

.btn__outlined {
    padding: 12px 15px;
    border: none;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(81, 173, 207, 1) 0%, rgba(62, 105, 194, 1) 100%);
    cursor: pointer;
}

.btn__outlined::before {
    content: "";
    position: absolute;
    left: 1.5px;
    right: 1.5px;
    top: 1.5px;
    bottom: 1.5px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
}

.btn__outlined::after {
    color: transparent;
    transition: 200ms
}

.btn__outlined:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.btn__outlined:hover::after {
    color: white;
}

.nav__toggler {
    margin-left: 30px;
    border: none;
    background-color: transparent;
}

/************************************* ARTICLE PAGE *****************************************/
.container{
    background-image: url('C:/Iulik/Personal/Anul 4/Sem2/PAI-Proiect/images/diet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 3rem;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__top, .article__subsection{
    background-color: #fff;
    opacity: 80%;
    padding: 1rem;
    font-size: 1.2rem;
}

.article__subsection {
    margin: 2rem 0;;
}

.article__subsection__title {
    font-size: 1.5rem;
    color: green;
}

.article__top {
    margin-bottom: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__subsection__content {
    margin: 1rem 0;
}

/************************************* FOOTER ************************************/
.footer_socials a{
    padding-right: 10px;
}

.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.footer__links {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.footer__link {
    color: #000;
    text-decoration: none;
}

.footer ul li{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: grab;
}

.vertical {
    margin-left: 30px;
    border-left: 1px solid black;
    height: 50px;
}

.footer_credits{
    text-align: center;
}