body, h1, h2, h3, h4, p {
    margin: 0px;
    padding: 0;
}

.container {
    padding: 1em 3em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display:inline-flex;
    list-style-type: none;
    
}

.nav__item {
    margin-left: 40px;
}

.nav__item a{
    background-color: transparent;
}
.nav__item a:hover {
    color: #51ADCF;
}

.nav__link {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}

.nav__signin__btn {
    margin-left: 40px;
    background: rgb(81,173,207);
    background: linear-gradient(0deg, rgba(81,173,207,1) 0%, rgba(62,105,194,1) 100%);
    border: none;
    border-radius: 20px;
    border-top-right-radius: 0;
    height: fit-content;
    width: fit-content;
    padding: 12px 15px;
    color: #000;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.nav__signin__btn:hover {
    opacity: 1;
}

.nav__toggler {
    margin-left: 30px;
    border: none;
    background-color: transparent;
}

.about {
    display: flex;
    align-items: center;
}

.about__left {
    display: flex;
    flex-direction: column;
    width: 120%;
}
 
.about__left__motto {
    font-size: 4rem;
    font-weight: 700;
}

.about__left__text {
    font-size: 1.2rem;
    color: #747264;
    margin: 2em 0;
}

.about__btn {
    background: rgb(81,173,207);
    background: linear-gradient(0deg, rgba(81,173,207,1) 0%, rgba(62,105,194,1) 100%);
    border: none;
    border-radius: 20px;
    border-top-right-radius: 0;
    height: fit-content;
    width: fit-content;
    padding: 12px 15px;
    color: #000;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    margin-right: 2em;
}

.about__btn:hover {
    opacity: 1;
}

.latest-articles {
    display: flex;
    justify-content: space-between;
}
.latest-articles__post {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 20px;
}

.latest-articles__post img {
    width: 70%;
}

.latest-articles__post_title {
    font-size: 1.5rem;
    padding-top: 1em;
}

.latest-articles__post__bottom {
    background-color: #B7C9F2;
    border-top: lightgray;
    display: flex;
    flex-direction: column;
    width: 95%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 5%;
}

.latest-articles__post_description {
    padding: 1em 0;
}