body,
h1,
h2,
h3,
h4,
p {
    margin: 0px;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: inline-flex;
    list-style-type: none;

}

.nav__item {
    margin-left: 40px;
}

.nav__item a {
    background-color: transparent;
}

.nav__item a:hover {
    color: #51ADCF;
}

.nav__link {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}

.nav__signin__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 40px;
}

.nav__signin__btn {
    padding: 12px 15px;
    border: none;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(81, 173, 207, 1) 0%, rgba(62, 105, 194, 1) 100%);
    cursor: pointer;
}

.nav__signin__btn::before {
    content: "";
    position: absolute;
    left: 1.5px;
    right: 1.5px;
    top: 1.5px;
    bottom: 1.5px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
}

.nav__signin__btn::after {
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    color: transparent;
    transition: 200ms
}

.nav__signin__btn:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.nav__signin__btn:hover::after {
    color: white;
}

.nav__toggler {
    margin-left: 30px;
    border: none;
    background-color: transparent;
}

.about {
    background-color: #B7C9F2;
    display: flex;
    align-items: center;
    padding: 1em 3em;
}

.about__btns {
    display: flex;
    justify-content: space-between;
   
}

.about__btn {
    background: linear-gradient(0deg, rgb(128 130 230) 0%, rgb(202 234 255 / 80%) 100%);
    border: none;
    border-radius: 20px;
    border-top-right-radius: 0;
    height: fit-content;
    width: fit-content;
    padding: 12px 15px;
    color: #000;
    font-size: 1.2rem;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    margin-right: 2em;
}

.about__btn:hover {
    opacity: 1;
}

.about__left {
    display: flex;
    flex-direction: column;
    width: 120%;
}

.about__left__motto {
    font-size: 4rem;
    font-weight: 700;
}

.about__left__text {
    font-size: 1.2rem;
    color: #747264;
    margin: 2em 0;
}

.latest-articles {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.latest-articles__post {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 20px;
}

.latest-articles__post img {
    width: 70%;
}

.latest-articles__post_title {
    font-size: 1.5rem;
    padding-top: 1em;
}

.latest-articles__post__top {
    display: flex;
    justify-content: center;
}

.latest-articles__post__text {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.latest-articles__post__btn {
    padding: 1em 0 1em 2em;
    display: flex;
    align-items: flex-end;
    background: transparent;
    border: none;
    cursor: grab;

}

.latest-articles__post__bottom {
    background-color: #B7C9F2;
    border-top: lightgray;
    display: flex;
    width: 95%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 5%;
    transition: 0.3s ease-in-out;
}

.latest-articles__post__bottom:hover {
    background-color: #799ef6;
    transition: 0.3s ease-in-out;
}

.latest-articles__post_description {
    padding: 1em 0;
    color: #4b4a43;
}

.memberships {
    padding: 1em 3em;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
}

.memberships__offer {
    width: 25%;
}

.memberships__offer__top {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.memberships__offer__top.premium {
    background-color: rgb(223, 36, 104);
}

.memberships__offer__top.standard {
    background-color: rgb(164, 0, 164);
}

.memberships__offer__top.basic {
    background-color:rgb(9, 80, 148);
}

.memberships__offer__middle {
    border-left: 177px solid transparent;
	border-right:177px solid transparent;
}

.memberships__offer__middle.premium {
    background-color: rgba(223, 36, 105, 0.467);
    border-top: 40px solid rgb(223, 36, 104);
}

.memberships__offer__middle.standard {
    background-color: rgba(128, 0, 128, 0.505);
    border-top: 40px solid rgb(164, 0, 164);
}

.memberships__offer__middle.basic {
    background-color: rgba(9, 81, 148, 0.511);
    border-top: 40px solid rgb(9, 80, 148);
}

.memberships__offer__bottom {
    border-left: 177px solid transparent;
	border-right:177px solid transparent;
}

.memberships__offer__bottom.premium {
    border-top: 40px solid rgba(223, 36, 105, 0.467);
}

.memberships__offer__bottom.standard {
    border-top: 40px solid rgba(128, 0, 128, 0.505);
}

.memberships__offer__bottom.basic {
    border-top: 40px solid rgba(9, 81, 148, 0.511);
}

.memberships__offer__price {
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
}