body, h1, h2, h3, h4, p {
    margin: 0px;
}

div ul {
    display:inline-flex;
    list-style-type: none;
    align-items: center;
}   

/* navbar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: inline-flex;
    list-style-type: none;

}

.nav__item {
    margin-left: 40px;
}

.nav__item a {
    background-color: transparent;
}

.nav__item a:hover {
    color: #51ADCF;
}

.nav__link {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}

.nav__signin__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 40px;
}

.nav__signin__btn {
    padding: 12px 15px;
    border: none;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(81, 173, 207, 1) 0%, rgba(62, 105, 194, 1) 100%);
    cursor: pointer;
}

.nav__signin__btn::before {
    content: "";
    position: absolute;
    left: 1.5px;
    right: 1.5px;
    top: 1.5px;
    bottom: 1.5px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
}

.nav__signin__btn::after {
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    color: transparent;
    transition: 200ms
}

.nav__signin__btn:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.nav__signin__btn:hover::after {
    color: white;
}

.nav__toggler {
    margin-left: 30px;
    border: none;
    background-color: transparent;
}


/* form elements & page */

h2 {
    margin: 20px 0;
    text-align: center;
    color: #025cab;
    font-size: 2em;
}

.logIn__section {
    max-width: 500px;
    margin: 50px 150px 0;
    padding: 50px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

a {
    text-decoration:none;
   }
   input[type="text"],
   input[type="email"],
   input[type="password"]{
       width: 100%;
       padding: 8px;
       margin: 7px 0;
       border-radius: 3px;
       border: 1px solid #ccc;
       box-sizing: border-box;
   }

.container-logIn{
    background-image: url('C:/Iulik/Personal/Anul 4/Sem2/PAI-Proiect/images/logIn_background.jpg');
    background-repeat: no-repeat;
    padding: 50px 0 230px;
}

.logIn_btns {
    margin-top: 20px;
}

.logIn-btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logIn-btn {
    padding: 12px 15px;
    border: none;
    position: relative;
    z-index: 1;
    font-size: 1rem;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(81, 173, 207, 1) 0%, rgba(62, 105, 194, 1) 100%);
    cursor: pointer;
    width: 70%;
    margin-top: 20px;
}

.logIn-btn::before {
    content: "";
    position: absolute;
    left: 1.5px;
    right: 1.5px;
    top: 1.5px;
    bottom: 1.5px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
}

.logIn-btn::after {
    color: transparent;
    transition: 200ms
}

.logIn-btn:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.logIn-btn:hover::after {
    color: white;
}

.signUp__message {
    color: rgba(62, 105, 194, 1);
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}

/***************************************************************************************************************************/

 .signUp-btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.signUp-btn {
    padding: 12px 15px;
    border: none;
    position: relative;
    font-size: 1.2rem;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(81, 173, 207, 0.642) 0%, rgba(62, 106, 194, 0.571) 100%);
    cursor: pointer;
}

.signUp-btn:hover {
    background: linear-gradient(0deg, rgba(81, 173, 207) 0%, rgba(62, 106, 194) 100%);
}


/************************************* FOOTER ************************************/
.footer_socials a{
    padding-right: 10px;
}

.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.footer__links {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.footer__link {
    color: #000;
    text-decoration: none;
}

.footer ul li{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: grab;
}

.vertical {
    margin-left: 30px;
    border-left: 1px solid black;
    height: 50px;
}

.footer_credits{
    text-align: center;
}