body, h1, h2, h3, h4, p {
    margin: 0px;
}

div ul {
    display:inline-flex;
    list-style-type: none;
    align-items: center;
}   

.nav {
    padding: 1em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin-left: 40px;
}

.nav__item a{
    background-color: transparent;
}
.nav__item a:hover {
    color: #51ADCF;
}

.nav__link {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: grab;
}

.nav-bar__signin__btn {
    margin-left: 40px;
    background: rgb(81,173,207);
    background: linear-gradient(0deg, rgba(81,173,207,1) 0%, rgba(62,105,194,1) 100%);
    border: none;
    border-radius: 20px;
    border-top-right-radius: 0;
    height: fit-content;
    width: fit-content;
    padding: 12px 15px;
    color: #000;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    cursor:grab;
}

.nav-bar__signin__btn:hover {
    opacity: 1;
}

.nav-bar__toggler {
    margin-left: 30px;
    border: none;
    background-color: transparent;
    cursor:grab;
}

/* form elements */

h2 {
    margin: 20px 0;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 50px 150px 0;
    padding: 50px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

a {
    text-decoration:none;
   }
   input[type="text"],
   input[type="email"],
   input[type="password"]{
       width: 100%;
       padding: 8px;
       margin: 7px 0;
       border-radius: 3px;
       border: 1px solid #ccc;
       box-sizing: border-box;
   }

.container-logIn{
    background-image: url('/home/dianarotaru/PAI-PROJECT/PAI-Proiect/images/logIn_background.jpg');
    background-repeat: no-repeat;
    padding: 50px 0 230px;
}

.logIn-btn {
    background: rgb(81,173,207);
    background: linear-gradient(0deg,rgba(62,105,194,1) 0%,rgba(81,173,207,1)  100%);
    border: none;
    border-radius: 20px;
    border-top-left-radius: 0;
    height: fit-content;
    width: fit-content;
    padding: 12px 15px;
    color: #000;
    font-size: 1rem;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    margin-right: 1.5em;
    margin-top: 20px;
    cursor: grab;

}

.forgotpassword{
    color: rgba(62,105,194);
    cursor: grab;
}

/* footer elements */
.footer_socials a{
    padding-right: 10px;
}

.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer ul li{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: grab;
}

.vertical {
    margin-left: 30px;
    border-left: 1px solid black;
    height: 50px;
}

.footer_credits{
    text-align: center;
    padding: 30px 0;
}