body, h1, h2, h3, h4, p {
    margin: 0px;
}

/***************************** NAV BAR *****************************/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.nav__toggler {
    cursor: pointer;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: inline-flex;
    list-style-type: none;

}

.nav__item {
    margin-left: 40px;
}

.nav__link {
    text-decoration: none;
}

.nav__item a:hover {
    color: #51ADCF;
}

.nav__link {
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}

.btn__outlined__wrapper {
    margin-left: 2.5rem;
}

.btn__outlined {
    background-color: white;
    padding: 12px 15px;
    font-size: 1rem;
    border: 2px solid rgb(104 168 229);
    border-radius: 5px;
    cursor: pointer;
}

.btn__outlined:hover {
    background: linear-gradient(0deg, rgba(81, 173, 207, 0.488) 0%, rgba(62, 106, 194, 0.46) 100%);
    border: none;
    padding: 13.5px 16.5px;
}

.nav__toggler {
    margin-left: 30px;
    border: none;
    background-color: transparent;
    display: none;
}

/************************************* SIGN UP ************************************/
.signUp {
    background-image: url('C:/Iulik/Personal/Anul 4/Sem2/PAI-Proiect/images/logIn_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 100px;
}

.signUp__container {
    max-width: 500px;
    margin: 50px 150px 0;
    padding: 50px 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

a {
    text-decoration:none;
   }
   input[type="text"],
   input[type="email"],
   input[type="password"],
   input[type="tel"]{
       width: 100%;
       padding: 8px;
       margin: 7px 0;
       border-radius: 3px;
       border: 1px solid #ccc;
       box-sizing: border-box;
   }


.signUp__title {
    font-size: 2em;
    margin-bottom: 1rem;
    text-align: center;
}

.signUp__message {
    font-size: 1.3em;
    margin-bottom: 1rem;
    text-align: center;
    color: #025cab;
}

.signUp__btn__wrapper {
    margin: 0;
    background-color: transparent;
    margin-top: 1.5rem;
    color: #025cab;
}

.signUp__btn {
    width: 70%;
    font-size: 1.2em;
}
/************************************* FOOTER ************************************/
.footer_socials a{
    padding-right: 10px;
}

.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
}

.footer__links {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
}

.footer__link {
    color: #000;
    text-decoration: none;
}

.footer ul li{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: grab;
}

.vertical {
    margin-left: 30px;
    border-left: 1px solid black;
    height: 50px;
}

.footer_credits{
    text-align: center;
}